ion-item {
    border-radius: 12px;
    --background: #5b11a0;
    --color: #fff;
    padding: 5px;
}

ion-button {
    --background: #5b11a0;
}

h3 {
    text-align: center;
}

#footer {
    text-align: center;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}

ion-input {
    padding: 10px;
    text-align: center;
}